{{ define "main" }}
<main id="top" class="use-case">
    <div class="case">
    {{ if .Site.Params.cyberSecurity }}
        <div class="caseBanner">
            <div class="caseBanner-content">
                <img src="/images/{{ .Site.Params.cyberSecurity.pic }}">
                <div class="caseBanner-text">
                    <p class="caseBanner-title">{{.Site.Params.cyberSecurity.bannerTtile}}</p>
                    <p>{{.Site.Params.cyberSecurity.bannerText}}</p>  
                </div>
            </div>
        </div>
        {{ range .Site.Params.cyberSecurity.list }}
            <div class="{{.background}}">
                <div class="case-list case-{{.calss}}">
                    <img src="/images/{{ .pic }}">
                    <div class="case-content {{.calss}}">
                        <p class="case-title">{{.title}}</p>
                        <hr />
                        <p>{{.text}}</p>
                        <p>{{.text1}}</p> 
                        <p>{{.text2}}</p>   
                        <p>{{.text3}}</p> 
                    </div>
                </div>
            </div>
        {{ end }}
        {{ range .Site.Params.cyberSecurity.fix }}
            <div class="useCase-fix">
                <p class="useCase-title">{{.title}}</p>
                <hr />
                <p class="useCase-text">{{.fixText}}</p>   
                <div class="useCase-fix-content">
                    {{ range .fixList }}
                        <div>{{.text}}</div>
                    {{ end }}
                </div>
                <button onclick="ga('send', 'event', 'Engagement', 'Button Click', 'CTA via Use Cases'),"><a href={{.link}}>{{.btnText}}</a></button>
            </div>
        {{ end }}
    {{ end }}
    </div>
    {{ if .Site.Params.footer }}
        {{ partial "footer.html" . }}
    {{ end }}
</main>
{{ end }}
