.aside-links {
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
}

.aside-links > li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.aside-links > li > span {
  font-size: 16px;
}

.aside-links li img {
  margin-left: 16px;
}