.blog-list {
  height: 100%;
  padding-top: 50px;
  background-image: url('../../img/header.png');
}

.blog-list .wrapper {
  padding-bottom: 24px;
  background: #fff;
  min-height: 100%;
}

.blog-list .wrapper .inner > .list-side-bar {
  width: 230px;
  padding: 10px;
}

.blog-list .wrapper .inner {
  margin: 0 auto;
  display: flex;
}

.blog-list .wrapper > h3 {
  margin:0 64px 64px;
  padding-top: 64px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.blog-list .list {
  position: relative;
  list-style: none;
  flex: 1;
  padding: 24px 0 48px 0;
}

.blog-summary > .content {
  display: flex;
}

.blog-summary > .content .blog-thumbnail {
  flex-shrink: 0;
  margin-right: 20px;
  text-align: center;
}

.blog-list .blog-summary .picture {
  text-align: center;
}

.blog-list .blog-summary + .blog-summary {
  margin-top: 24px;
  padding-bottom: 12px;
}

.blog-list .blog-summary {
  margin: 16px;
  color: #000;
  cursor: pointer;
  border-bottom: 1px solid #CDD1E3;
  padding-bottom: 12px;
}

.blog-list .blog-summary h3 {
  margin-bottom: 16px;
}

.blog-list .blog-summary .text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.blog-list p {
  margin: 0;
  color: #999;
  font-size: 12px;
}

.blog-list .pc-content, 
.blog-list .mobile-content {
  display: none;
}

.blog-list .pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
  margin: 0px;
}

.blog-summary .blog-metas span + span {
  margin-left: 16px;
}

.blog-summary .blog-metas span:before {
  margin-right: 8px;
}

.blog-summary .blog-metas {
  margin: 0px 0 16px;
  height: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.blog-summary .blog-metas > .meta + .meta {
  margin-left: 20px;
}

.blog-summary .blog-metas > .meta > span {
  padding-left: 2px;
}

.blog-summary .blog-metas .tags {
  display: flex;
  align-items: center; 
}

.blog-summary .blog-metas .tags > a {
  padding: 0 6px;
  color: #000;
  text-decoration: underline;
}

.blog-summary .blog-metas .tags > a:hover {
  color: #aaa;
}

.blog-summary .blog-metas .tags > a + a {
  border-left: 1px solid #aaa;
}

/* PC style */
@media(min-width: 768px) {
  .blog-list .list .blog-thumbnail {
    width: 150px;
    height: 100px;
  }

  .blog-list .list .blog-thumbnail img {
    max-width: 150px;
    max-height: 100px;
  }

  .blog-list p {
    font-size: 14px;
  }

  .blog-list .list {
    width: 960px;
    margin: 0 auto;
    z-index: 1;
  }


  .blog-list .text h3 {
    margin-bottom: 24px;
    font-size: 16px;
    color: #000;
  }

  .blog-list .pc-content {
    display: block;
    height: 84px;
    font-size: 16px;
    color: #3f4047;
  }
} 

/* Mobile style */
@media(max-width: 959px) {
  .list-side-bar {
    display: none;
  }

  .blog-list .list {
    padding: 12px;
  }
  .blog-list .blog-summary h3 {
    margin-bottom: 12px;
    margin-top: 0px;
  }

  .blog-list .mobile-content {
    display: block;
    color: #3f4047;
  }

  .blog-list .blog-summary .picture {
    padding-right: 0px;
  }

  .blog-list .blog-summary .text {
    padding-left: 0px;
  }

  .blog-list .list .blog-thumbnail {
    width: 100px;
    height: 80px;
    margin-right: 8px;
  }

  .blog-list .list .blog-thumbnail img {
    max-width: 100px;
    max-height: 80px;
  }

  .blog-summary .blog-metas {
    display: none;
  }
}

@media(min-width:960px) {
  .blog-list .wrapper .inner {
    width: 960px;
  }
  .blog-list .list {
  }
}

@media(min-width: 1200px) {
  .blog-list .wrapper .inner {
    min-width: 1160px;
    max-width: 1300px;
  }
}