/* fix bootstrap navbar submenu in mobile */
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-default .navbar-header .navbar-brand, .navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
  text-transform: none;
}

.dropdown-menu {
  min-width: 120px;
}

.nav>li>a>img {
    width: 30px;
}

.nav>li>a>img {
    width: 30px;
}

.nav>li>a>img {
    width: 30px;
}

.nav>li>a>img {
    width: 30px;
}

.navbar-right .dropdown-menu {
  left: -1px !important;
  right: auto;
}
.dropdown-menu>li>a:hover{
  border: 0 !important;
}
.dropdown-menu>li :hover {
  background-color: #fff;
  text-decoration: underline;
}
#navbar-right {
  float: right !important;
}
#navbar-right a{
  width:100%;
  height:30px !important;
  line-height: 0 !important;
  margin-top: 15px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  background:rgba(15, 15, 15, 1);
  box-shadow:1px 1px 1px 0px rgba(0, 128, 255, 1);
  border-radius:15px;
  border:1px solid rgba(0, 128, 255, 1);
}
.navbar-right{
  margin: 0 15px;
}

@media(min-width: 768px) {
  .navbar {
    min-height: 60px;
    background: #000;
  }

  .navbar.affix {
    background: #000;
  }
  
  .navbar-brand {
    width: 185px;
    height: 60px;
    background-image: url('../../img/logo-white.png');
    background-size: cover;
    margin-left: 10px !important;
  }
 

  .navbar-header > .github-star {
    display: none;
  }

  .navbar-nav {
    height: 60px;
    width: calc(100% - 205px);
    width: -moz-calc(100% - (205px));
    width: -webkit-calc(100% - (205px));
  }
  .navbar-nav>li>.dropdown-menu{
    padding: 0;
  }
  .navbar-nav li {
    padding: 0 15px;
    height: 60px;
    text-align: center;
  }
  .dropdown-menu li{
    cursor: pointer;
    padding: 0;
    background: rgba(0, 128, 255, 1);
    height: 40px !important;
  }
  .dropdown-menu li a{
    color: #fff;
    padding: 0;
    line-height: 40px;
    font-size: 16px;
  }

  #nav > li>a {
    font-size: 18px;
    height: 60px;
    line-height: 30px;
    font-weight: 400;
    font-family:"PingFangSC-Regular,PingFang SC";
    color:rgba(187, 188, 196, 1);
    padding-left: 0;
    padding-right: 0;
  }
  #nav>li a:hover{
    color:rgba(0, 128, 255, 1)!important;
    border-bottom: 1px solid rgba(0, 128, 255, 1);
  }

  .navbar-nav .github-star {
    height: 60px;
    align-items: center;
    display: flex;
    float: right;
    margin-right: 10px;
    padding: 0;
  }

  .github-star > span {
    height: 28px;
  }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background: none;
  color: #fff;
}

@media(max-width: 767px) {
  .navbar-brand {
    width: 150px;
    height: 50px;
    background-image: url('../../img/logo-dart.png');
    background-size: cover;
  }
  .navbar-header {
    text-align: right;
  }
  .navbar-header > .github-star {
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
  }
  .navbar-nav .github-star {
    display: none;
  }
  .github-star{
    float: none;
  }
  #navbar-right {
      float: none !important;
      height: 40px;
      padding-top: 10px;
  }
  #navbar-right a {
      line-height: 0;
      margin-top: 0;
      background: #fff;
      box-shadow: none;
      border: none;
  }
  .dropdown{
    float: right;
    z-index: 9;
    margin-top: -160px;
    margin-right: 50px;
  }
  .dropdown .dropdown-menu{
    min-width: 85px;
  }
} 