
  .news-list .pc-content {
      height: 100%;
      font-size: 16px;
      color: #262626;
      letter-spacing: 0;
      line-height: 20px;
  }
  #news-title {
    font-size: 22px;
    color: #000000;
    letter-spacing: 0;
    display: inline-block;
    text-decoration: none;
  }
  .blog-summary .news-metas {
    margin: 0 0 12px;
    font-size: 14px;
    color: #8C8C8C;
    letter-spacing: 0;
  }
  .blog-list .news-summary {
      cursor: default;
  }
  .meta{
    line-height: 18px;
  }
  .blog-list .blog-summary+.news-summary {
    margin-top: 19px;
  }
  .blog-list .blog-summary .text {
    padding-top: 16px;
  }
  #news-readMore{
    margin-top: 18px;
    display: block;
  }
  .media-kit{
    margin-top: 35px;
    width: 178px;
    height: 170px;
    border: 1px solid #E8E8E8;
    text-align: center;
    padding-top: 17px;
  }
  .media-kit .media-kit-title {
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 12px;
  }
  .media-kit .media-kit-content{
    font-size: 14px;
    color: #8C8C8C;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 32px;
  }
  .media-kit img{
    width: 130px;
    margin-top: 18px;
    cursor: pointer;
  }
  @media(max-width: 959px) {
    .media-kit{
      display: none;
    }
  }