.blog-detail {
  height: 100%;
  padding-top: 60px;
  background-image: url('../../img/header.png');
}

.blog-detail .blog-content h2[id]::before,
.blog-detail .blog-content h3[id]::before,
.blog-detail .blog-content h4[id]::before,
.blog-detail .blog-content h5[id]::before {
  content: '';
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

.blog-detail .wrapper {
  min-height: 100%;
  padding-bottom: 24px;
  background: #fff;
  overflow: hidden;
}

.blog-detail .wrapper .inner {
  margin: auto;
  display: flex;
}

.blog-detail .wrapper .inner .blog-content {
  flex: 1;
  width: 100%;
}

.blog-detail .wrapper .inner .blog-content .blog-metas {
  display: flex;
  margin: 20px 0;
}

.blog-detail .wrapper .inner .blog-content .blog-metas .meta {
  margin-right: 20px;
}

.blog-detail .wrapper .inner .blog-content .blog-metas .meta > img {
  width: 16px;
  height: 16px;
}

.blog-detail .wrapper .inner .blog-content .blog-metas .meta > a {
  display: inline-block;
  color: #060812;
  line-height: 20px;
  font-size: 14px;
  padding: 0 3px;
}

.blog-detail .wrapper .inner .blog-content .blog-metas .meta > a + a {
  border-left: 1px solid #131831;
}

.blog-detail .wrapper .inner .blog-content blockquote {
  border-left: 4px solid #0080ff;
  padding: 4px 10px;
}

.blog-detail .wrapper .inner .blog-content a {
  color: #0080FF;
}

.blog-content {
  position: relative;
}

.blog-content img {
  width: 100%;
}

.blog-content table {
  margin-top: 24px;
  width: 95%;
  padding: 12px;
  color: #212529;
}

.blog-content h1 {
  font-size: 32px !important;
  line-height: 48px;
}

.blog-content h2 {
  font-size: 24px;
}

.blog-content h3 {
  font-size: 20px;
}

.blog-content h4 {
  font-size: 18px;
}

.blog-content p {
  font-size: 16px;
}

.blog-content th, .blog-content td {
  vertical-align: bottom;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
  padding: .75rem;
  font-size: 16px;
}

.blog-content th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.blog-content td {
  font-weight: 100;
}

.blog-content tbody tr:nth-child(even) {
  background-color: rgba(0,0,0,.05);
}

.blog-detail .single-side-bar {
  list-style: none;
  width: 230px; 
  padding: 5px 10px 10px 10px;
}

.blog-detail .blog-footer {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -10px;
}

.blog-detail .blog-footer > li {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0;
  cursor: pointer;
  margin: 10px;
}

.blog-detail .blog-footer > li.nebula-share {
  position: relative;
}

.blog-detail .blog-footer .blog-footer-share-links {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 120px;
  text-align: center;
  border: 1px solid #eee;
  display: none;
  list-style: none;
  padding: 8px;
  font-size: 12px;
  z-index: 100;
  background: #fff;
}

.blog-detail .blog-footer li:hover .blog-footer-share-links {
  display: block;
}

.blog-detail .blog-footer li .blog-footer-share-links > li {
  margin: 0;
}
.blog-detail .blog-footer li .blog-footer-share-links > li > .st-label {
  margin-left: 4px;
}

.blog-detail .wrapper .inner .blog-content li > a {
  color: #404040;
}

.blog-detail .blog-footer li > img {
  position: relative;
  bottom: 3px;
  width: 18px;
  height: 18px;
}

@media(min-width: 960px) {
  .blog-detail .wrapper .inner {
    width: 960px;
  }
  .blog-detail .blog-content {
    margin: auto;
    padding: 0px 36px 100px 36px;
  }
}

@media(max-width: 959px) {
  .blog-detail {
    padding-top: 50px;
  }
  .blog-detail .single-side-bar {
    display: none;
  }
  .blog-detail .blog-content {
    padding: 0 24px 60px 24px;
  }


  .blog-detail .wrapper .inner .blog-content .blog-metas {
    display: none;
  }

  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 20px
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}

@media screen and (min-width:1200px) {
  .blog-detail .wrapper .inner {
    min-width: 1160px;
  }

  .blog-detail .single-side-bar {
    list-style: none;
    width: 300px; 
  }
}
