<div id="blog-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {{ range $index, $item := $.Page.Site.Params.Carousels }}
      <li data-target="#blog-carousel" data-slide-to="{{$index}}" class="{{if eq $index 0 }}active{{ end }}"></li>
    {{ end }}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      {{ range $index, $item := $.Page.Site.Params.Carousels }}
        <div class="item {{if eq $index 0 }}active{{ end }}" onclick="location.href='{{.link}}'">
          <img src="{{.banner}}" alt="{{.description}}" width="220px" height="150px">
          <div class="carousel-caption">
            {{ .description }}
          </div>
        </div>
      {{ end }}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#blog-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#blog-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>