{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="nav-popup" id="nav-popup"> <img src="/images/popup.png" /><img src="/images/popup.png" /><img src="/images/popup.png" />  {{ .Site.Params.popupText  }} <a href={{ .Site.Params.popupLink }} onclick="{{.Site.Params.popupClick | safeJS}}" target="_blank">{{ $.Site.Params.popupLinkText }}</a> <img src="/images/shut.png" id="shut" onclick="shut()"/></div>
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <div 
                class="github-star"
                onclick="gtag('event', 'Link Click', { event_category: 'Engagement', event_label: 'Star via Navi'})"
            >
                <!-- Place this tag where you want the button to render. -->
                <a
                    class="github-button"
                    href="https://github.com/vesoft-inc/nebula"
                    data-icon="octicon-star"
                    data-show-count="true"
                    aria-label="Star vesoft-inc/nebula on GitHub"
                >Star</a>
            </div>
            <button type="button" class="navbar-toggle panel-toggle collapsed" data-toggle="collapse" data-parent="#bs-example-navbar-collapse-1"  id="show-nav"  href="#navbar-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{"/" | relLangURL }}"></a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="panel-collapse" data-parent="#bs-example-navbar-collapse-1"  id="navbar-nav">
            <ul class="nav navbar-nav" id="nav">
                <li 
                    class="github-star"
                    id="github-star"
                    onclick="gtag('event', 'Link Click', { event_category: 'Engagement', event_label: 'Star via Navi'})"
                >
                    <a
                        class="github-button"
                        href="https://github.com/vesoft-inc/nebula"
                        data-size="large" data-show-count="true"
                        aria-label="Star vesoft-inc/nebula on GitHub"
                    >Star</a>
                </li>
                {{ range .Site.Params.navigation.links }}
                    {{ if .links }}
                        <li class="{{.class}} navbar-right">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="/images/language120x120.png">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {{ range .links }}
                                    <li class="nav-item">
                                        <a class="dropdown-item" href="{{.link}}" target="{{.target}}">{{ .title }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                            <!-- <a class="page-scroll" href="#about">{{ .title }}</a> -->
                        </li>
                    {{ else }}
                        {{ $blogLink := replace $.Permalink "/tags/" "/posts/"}}
                        <li id="{{.calss}}" class="{{if (or (in $.Permalink .link) (in $blogLink .link)) }}active{{end}}{{.class}}">
                          {{if .link}}
                            <a href={{.link}} target="{{.target}}" onclick="{{.onclick | safeJS }}" >{{.title}}</a>
                          {{else}}
                            {{if .id}}
                                <a href={{.id}} target="{{.target}}" onclick="contactUsClick()">{{.title}}</a>
                            {{else}}
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{.title}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    {{ range .case }}
                                        <li class="nav-item">
                                            <a class="dropdown-item" href="{{.link}}" target="{{.target}}">{{ .title }}</a>
                                        </li>
                                    {{ end }}
                                </ul>
                            {{end}}
                          {{end}}
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
<script>
    function contactUsClick() {
        $('html,body').animate({scrollTop: document.documentElement.scrollHeight}, 800)
        return false;
    }
    function shut(){
        $('#nav-popup').remove();
        $("#top").css("padding-top", "50px")
        sessionStorage.setItem("popupIsRemove", true);
    }

    window.onload=function (){
        const isMobile = /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent);
        if(isMobile){
            $("#navbar-nav").addClass("collapse")
        }
        if(!sessionStorage.getItem("popupIsRemove")){
            $("#nav-popup").css("display", "block")
        }
    }

</script>
