{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="nav-popup" id="nav-popup"> <img src="/images/popup.png" /><img src="/images/popup.png" /><img src="/images/popup.png" />  {{ .Site.Params.popupText  }} <a href={{ .Site.Params.popupLink }} onclick="{{.Site.Params.popupClick | safeJS}}" target="_blank">{{ $.Site.Params.popupLinkText }}</a> <img src="/images/shut.png" id="shut" onclick="shut()"/></div>
    <!-- {{ if eq $.Site.Language.Lang "cn" }}
        <div class="J-simple-alert"><div class="J-alert-body"><div class="alert-close" onclick="closeAdBox()"><img src="/images/adAlertCloseIcon.png"></div><p class="pop-face">=(^.^)=</p><p class="pop-text">来都来了</p><p class="alert-content">去 GitHub 给我们点个<img src="/images/starIcon.png" >star 呗</p><a class="alert-btn" href="https://0x7.me/zh08112github" onclick="closeAdBox()"><img src="/images/gitHub-icon.png"> 感谢大佬</a></div></div>
    {{ end }} -->
        <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <div 
                class="github-star"
                onclick="gtag('event', 'Link Click', { event_category: 'Engagement', event_label: 'Star via Navi'})"
            >
                <!-- Place this tag where you want the button to render. -->
                <a
                    class="github-button"
                    href="https://github.com/vesoft-inc/nebula"
                    data-icon="octicon-star"
                    data-show-count="true"
                    aria-label="Star vesoft-inc/nebula on GitHub"
                >Star</a>
            </div>
            <button type="button" class="navbar-toggle panel-toggle collapsed" data-toggle="collapse" data-parent="#bs-example-navbar-collapse-1"  id="show-nav"  href="#navbar-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{"/" | relLangURL }}"></a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="panel-collapse" data-parent="#bs-example-navbar-collapse-1"  id="navbar-nav">
            <ul class="nav navbar-nav" id="nav">
                <li 
                    class="github-star"
                    id="github-star"
                    onclick="gtag('event', 'Link Click', { event_category: 'Engagement', event_label: 'Star via Navi'})"
                >
                    <a
                        class="github-button"
                        href="https://github.com/vesoft-inc/nebula"
                        data-size="large" data-show-count="true"
                        aria-label="Star vesoft-inc/nebula on GitHub"
                    >Star</a>
                </li>
                {{ range .Site.Params.navigation.links }}
                    {{ if .links }}
                        <li class="{{.class}} navbar-right">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="/images/language120x120.png">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {{ range .links }}
                                    <li class="nav-item">
                                        <a class="dropdown-item" href="{{.link}}" target="{{.target}}">{{ .title }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                            <!-- <a class="page-scroll" href="#about">{{ .title }}</a> -->
                        </li>
                        <li id="search-box">
                            {{ if eq $.Site.Language.Lang "en" }}
                                {{ partial "search.html" . }}
                            {{ else }}
                                {{ partial "searchCN.html" . }}
                            {{ end }}
                        </li>
                    {{ else }}
                        {{ $blogLink := replace $.Permalink "/tags/" "/posts/"}}
                        <li id="{{.calss}}" class="{{if (or (in $.Permalink .link) (in $blogLink .link)) }}active{{end}}{{.class}}">
                          {{if .link}}
                            <a href={{.link}} target="{{.target}}" onclick="{{.onclick | safeJS }}" >{{.title}}</a>
                          {{else}}
                            {{if .id}}
                                <a href={{.id}} target="{{.target}}" onclick="contactUsClick()">{{.title}}</a>
                            {{else}}
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{.title}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    {{ range .case }}
                                        <li class="nav-item ">
                                            <a class="dropdown-item {{.class}}" href="{{.link}}" target="{{.target}}">{{ .title }}</a>
                                        </li>
                                    {{ end }}
                                </ul>
                            {{end}}
                          {{end}}
                        </li>
                    {{ end }}                    
                {{ end }}
                <li class="cloud-trial-link">
                    <a
                        href="https://cloud.nebula-graph.com.cn"
                        target="_blank"
                        onclick="gtag('event', 'Link Click', { event_category: 'Engagement', event_label: 'Nebula Cloud Free Trial'})"
                    >
                        Cloud Service免费试用!
                        <img src="https://www-cdn.nebula-graph.com.cn/nebula-website/images/new@2x.png" height="12px" width="26px" >
                    </a>                            
                </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
<script>
    function contactUsClick() {
        $('html,body').animate({scrollTop: document.documentElement.scrollHeight}, 800)
        return false;
    }
    function shut(){
        $('#nav-popup').remove();
        $("#top").css("padding-top", "60px")
        sessionStorage.setItem("popupIsRemove", true);
        gtag && gtag('event', 'Link Click', {
            event_category: 'Engagement',
            event_label: 'Banner Close'
        })
    }
    // function closeAdBox(){
    //     $('.J-alert-body').remove();
    //     sessionStorage.setItem("adPopBoxIsRemove", true);
    // }
    window.onload=function (){
        const isMobile = /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent);
        if(isMobile){
            $("#navbar-nav").addClass("collapse")
        }
        if(!sessionStorage.getItem("popupIsRemove")){
            $("#nav-popup").css("display", "block");
            $(".use-case .case").removeClass("case");
        }
        // if(!sessionStorage.getItem("adPopBoxIsRemove")){
        //     setTimeout(()=>{
        //         $(".J-simple-alert").css("display", "block");
        //     },3000)
        // }
        $(".ics-icon").click(function(){
            sessionStorage.setItem("dialogPopBox",true);
            $(".J-dialog-box").remove();
        })
        if(!sessionStorage.getItem("dialogPopBox")){
            $(".J-dialog-box").css("display","block");
        }
        let arr=window.location.href.split('/');
        if(arr.length>=2){
            switch(arr[arr.length-2]){
                case "newsroom":
                    $(".nav-company").addClass("active");
                    $(".item-newsroom").addClass("activeitem");
                    break;
                case "real-time-recommendation":
                    $(".nav-case").addClass("active");
                    $(".item-real").addClass("activeitem");
                    break;
                case "fraud-detection":
                    $(".nav-case").addClass("active");
                    $(".item-fraud").addClass("activeitem");
                    break;
                case "cyber-security":
                    $(".nav-case").addClass("active");
                    $(".item-cyber").addClass("activeitem");
                    break;
                case "ai-and-machine-learning":
                    $(".nav-case").addClass("active");
                    $(".item-ai").addClass("activeitem");
                    break;
                default: 
                    $(".dropdown-left").removeClass("active");
                    break;
            }
        }
        
    }

</script>
