<div id="bing-search">
    <form action="https://cn.bing.com/search" target="bing-iframe">
        <input type="text" name="query" id="query-param" placeholder="搜索" >
        <input type="hidden" id="splice-query" name="q" value=" site:nebula-graph.com.cn">
        <input id="search-btn" type="submit" value="🔍">
    </form>
    <div class="bing-box">
        <iframe id="bing-iframe" name="bing-iframe" frameborder="0" width="1000" height="800"></iframe>
        <img id="close-icon" src="/images/closeIcon.png">
    </div>
</div>
<div id="google-searchCN"></div>