<div class="tags-block">
  <h3><img src="/img/{{.Site.Params.tags.pic}}">{{.Site.Params.tags.title}}</h3>
  <ul class="blog-tags">
    <li class="col-md-12">
      <a
        href="{{"/posts" | relLangURL }}"
        class="{{if in $.Permalink "post"}}active{{end}}"
      >{{.Site.Params.tags.all}}</a>
    </li>
    {{ range $key, $value := .Site.Taxonomies.tags }}
      <li>
        {{ $urlKey := urlize $key }}
        <a
          href="{{ "/" | relLangURL}}tags/{{ $key | urlize}}"
          class="
            {{ with $.Params.tags }}
              {{ if in . $key }}
                active
              {{ end }}
            {{ else }}
              {{if in $.Permalink $urlKey}}
                 active
              {{ end }}
            {{end}}
          "
        >{{ $key }}</a>
      </li>
    {{ end }}
  </ul>
</div>