{{ define "main" }}
<main id="top" class="blog-list">
    <div class="wrapper">
        <div class="inner">
            <ul class="list">
                {{ range (.Paginator 10).Pages }}
                    <li class="blog-summary" onclick="location.href='{{.Permalink}}';">
                        <h3 href="{{.Permalink}}">{{.Title}}</h3>
                        <div class="content">
                            <div class="blog-thumbnail">
                                {{ with .Resources }}
                                    {{ with .GetMatch "{*.jpg,*.png,*.jpeg}" }}
                                        {{ $cover := .Resize "600x" }}
                                        {{ with $cover }}
                                            <img src="{{ .Permalink }}" height="100%"/>      
                                        {{ end }} 
                                    {{ else }}
                                        {{ with .GetMatch "{thumbnail.png}" }}
                                            {{ $cover := .Resize "600x" }}
                                            {{ with $cover }}
                                                <img src="{{ .Permalink }}" height="100%"/>      
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div class="text">
                                <div class="row blog-metas">
                                    {{ with .Params.author }}
                                        <div class="meta">
                                            <img src="/images/writer.png" width="16px" height="16px">
                                            <span>{{.}}</span>
                                        </div>
                                    {{ end }}
                                    {{ with .Params.date }}
                                        <div class="meta">
                                            <img src="/images/calendar.png" width="16px" height="16px">
                                            <span>{{dateFormat "2006-01-02" .}}</span>
                                        </div>
                                    {{ end }}
                                    {{ if .Params.tags }}
                                        <div class="tags meta">
                                            <img src="/images/tag.png" width="16px" height="16px">
                                            {{ range .Params.tags }}
                                                <a href="{{"/" | relLangURL}}/tags/{{.}}">{{.}}</a>
                                            {{ end }}
                                        </div>
                                    {{ end }}
                                </div>
                                {{ with .Description }}
                                    <p class="pc-content">{{ . | truncate 200 }}</p>
                                    <p class="mobile-content">{{ . | truncate 200 }}</p>
                                {{ else }}
                                    <p class="pc-content">{{ .Summary | truncate 200 }}</p>
                                    <p class="mobile-content">{{ .Summary | truncate 200 }}</p>
                                {{ end }}
                            </div>
                        </div>
                    </li>
                {{ end }}
                {{ if (gt $.Paginator.TotalPages 1) }}
                    <ul class="pagination">
                        {{ with .Paginator.Prev }}
                            <li>
                                <a href="{{.URL}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {{ end }}
                        {{ range (.Paginator 10).Pagers }}
                            {{ $sub := (sub $.Paginator.PageNumber .PageNumber) }}
                            {{ if and (le $sub 2) (ge $sub -2) }}
                                {{ if  (eq $sub 0) }}
                                    <li class="active"><a href="{{.URL}}">{{ .PageNumber }}</a></li>
                                {{ else }}
                                    <li><a href="{{.URL}}">{{ .PageNumber }}</a></li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                        {{ with .Paginator.Next }}
                            <li>
                                <a href="{{.URL}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                {{ end }}
            </ul>
            {{ partial "listSideBar.html" .}}
        </div>
        <img onclick="location.href='#top'" class="go-ahead" src="/images/up.png" >
    </div>
    {{ if .Site.Params.footer }}
        {{ partial "footer.html" . }}
    {{ end }}
</main>
{{ end }}
